html {
	box-sizing: border-box;
}
*::before, 
*::after { 
	
	box-sizing: inherit;
}

nav {

	display: flex;
	height: 50px;
	color: grey;
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	background-color: #a2cbb6;
	font-size: 20px;
	margin: auto;
}

p {
	display: flex;
	row-gap: ;
}


h2 {
	margin-right: auto;
}